<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="currentPodcastData" padding>
  <h2>{{currentPodcastData.title}}</h2>

  <div>
    <div> Current: {{currentPodcastData.items[currentSelected].title}}</div>
    <div>
      <button ion-button round (click)="skipBack()">-30s</button>
      <button ion-button round (click)="playSelected()">Play</button>
      <button ion-button round (click)="stopSelected()">Stop</button>
      <button ion-button round (click)="skipAhead()">+30s</button>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let track of currentPodcastData.items; let idx = index" (click)="onItemClicked(idx)">
      <ion-thumbnail item-left>
        <img src="{{track.picUrl}}">
      </ion-thumbnail>
      <div item-content style="width:100%">
        <p><strong>{{track.title}}</strong></p>
      </div>
    </ion-item>
  </ion-list>


</ion-content>
