<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="!currentPodcastData">Loading...</div>
            <div *ngIf="currentPodcastData">{{currentPodcastData.title}}</div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="currentPodcastData">
        <ion-list>
            <ion-item *ngFor="let track of currentPodcastData.items; let idx = index" (click)="onItemClicked(idx)">
                <ion-thumbnail item-left>
                    <img src="{{track.picUrl}}">
                </ion-thumbnail>
                <div item-content style="width:100%">
                    <p><strong>{{track.title}}</strong></p>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>


