<div *ngIf="currentItem"> Current: {{currentItem.title}}</div>

<div *ngIf="audioManager">
    <progress-bar [audioManager]="audioManager"></progress-bar>
</div>
<div>
    <button ion-button round (click)="skipBack()">-30s</button>
    <button ion-button round (click)="onPlay()">
        <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button round (click)="onPause()">
        <ion-icon name="pause"></ion-icon>
    </button>
    <button ion-button round (click)="skipAhead()">+30s</button>
</div>